.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.box{
    display: grid;
    height: 15cm;
    width: 15cm;
    justify-content: center;
    grid-gap: 20px;
}
